html 
    head
        link(rel="stylesheet" href="/index.css")
    body
        h1 User profile page 
        h2.gold Nicknames 
        div.green.big= nickname

        h2 Profile
        img(src=profileImageURL).profileImage
        form(action=`/users/${userID}/profile` method="post" enctype="multipart/form-data")
            input(type="file" name="profile")
            button Upload Profile Picture
